<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui")
        meta(name="HandheldFriendly", content="true")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap")
        link(type="text/css", rel="stylesheet", href="/css/style.min.css")
        title Tic Tac Toe
    
    body
        section#screen
            h3 Tic Tac Toe
            .logo
                img(src="/images/logo.png", alt="Tic Tac Toe Logo")
            .buttons-section
                a.btn Find a Player
                a.btn(href="#") Play With Friends
                a.btn(href="#") Play Against AI

        script(type="text/javascript", src="/js/ui.js")
